<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/artikel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <script defer src="js/alerts.js"></script>
    <script defer src="js/footer.js"></script>
    <script defer src="js/nav.js"></script>

    <title>Nieuws Artikel - GP-Zandvoort</title>
</head>
<body>
    <% if (errorcode != '') { %>
        <div class="alert error">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p><i class="fas fa-minus-circle"></i> <%= errorcode %></p>
        </div>
    <% } %> 
    <% if (successcode != '') { %>
        <div class="alert success">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p><i class="fas fa-check"></i> <%= successcode %></p>
        </div>
    <% } %> 

    <nav id="nav">
    </nav>

    <section class="hoofd">
        <div class="container">
            <header>
                <h1 class="heading-1"><%= data.newsTitel %></h1>
                <div class="sub-heading">
                    <p><span><%= data.createdAt.toDateString()  %></span></p>
                </div>
            </header>
        </div>
    
        <div class="main">
            <div class="home">
                <div class="left">
                    <img src="<%= data.newsAfbeelding %>" alt="" class="home-img">
                    <p class="heading-2">
                        <%= data.newsInhoud %>
                    </p>
                </div>
            </div>
        </div>
    </section>

</body>
</html>