<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/news.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <script defer src="js/alerts.js"></script>
    <script defer src="js/footer.js"></script>
    <script defer src="js/nav.js"></script>

    <title>Document</title>
</head>
<body>
    <% if (errorcode != '') { %>
        <div class="alert error">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p><i class="fas fa-minus-circle"></i> <%= errorcode %></p>
        </div>
    <% } %> 
    <% if (successcode != '') { %>
        <div class="alert success">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p><i class="fas fa-check"></i> <%= successcode %></p>
        </div>
    <% } %> 

    <nav id="nav">
    </nav>

    <section class="container">
        <!--create for loop-->
        <% for (var i = 0; i < newsitems.length; i++) { %>
            <div class="news-post">
                <div class="news-post__img">
                    <!--put img source to newsitems-->
                    <img src="<%= newsitems[i].newsAfbeelding %>" alt="">
                </div>
                <div class="news-post__info">
                    <div class="news-post__date">
                        <span><%= newsitems[i].createdAt.toDateString()  %></span>
                    </div>
                    <h1 class="news-post__title"><%= newsitems[i].newsTitel %> </h1>
                    <p class="news-post__text">
                        <%= newsitems[i].newsInhoud %>
                    </p>
                    <a href="/news/<%= newsitems[i]._id %>" class="news-post__cta">Lees meer</a>
                </div>
            </div>
        <% } %>
    </section>

</body>
</html>